<div class="Header">
  <!-- &nbsp; ES USADO PARA INDENTAR LA PARTE DE "BOYACÁ" -->
  <p>IMPUESTOS <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOYACÁ</p>
  <button (click)="goToLogin()">Inicio Sesión</button>
</div>
<hr/>

<div class="Content">
  <nav class="NavBar">
    <button>Guardar</button>
    <button>Consultar</button>
    <button>Actualizar</button>
    <button>Inactivar</button>
  </nav>
  
  <div class="Container">
    <h3>Datos de Propietario</h3>
    <form class="OwnerDataContainer">
      <input type="text" name="primer_nombre" placeholder="Primer Nombre">
      <input type="text" name="segundo_nombre" placeholder="Segundo Nombre">
      <input type="text" name="primer_apellido" placeholder="Primer Apellido">
      <input type="text" name="segundo_apellido" placeholder="Segundo Apellido">
      <input type="text" name="tipo_documento" placeholder="Tipo de Documento">
      <input type="text" name="numero_documento" placeholder="Numero de Documento">
      <input type="text" name="correo_electronico" placeholder="Correo Electronico">
      <input type="number" name="numero_telefonico" placeholder="Numero Telefonico">
      <label for="fecha_nacimiento">Fecha de Nacimiento</label>
      <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
    </form>
  
    <h3>Datos de Vehículo</h3>
    <form class="VehicleDataContainer">
      <input type="text" name="clase" placeholder="Clase">
      <input type="text" name="modelo" placeholder="Modelo">
      <input type="text" name="importado" placeholder="Importado">
      <input type="text" name="decomisado" placeholder="Decomisado">
      <input type="text" name="marca" placeholder="Marca">
      <input type="text" name="carroceria" placeholder="Carroceria">
      <input type="text" name="blindado" placeholder="Blindado">
      <input type="text" name="chatarrizado" placeholder="Chatarrizado">
      <input type="text" name="linea" placeholder="Linea">
      <input type="text" name="cilindraje" placeholder="Cilindraje">
      <input type="text" name="caja_automatica" placeholder="Caja Automatica">
      <input type="text" name="estado" placeholder="Estado">
      <input type="text" name="val_antes_iva" placeholder="Valor antes de Iva">
      <input type="text" name="tonelaje" placeholder="Tonelaje">
      <input type="text" name="carta_abiertas" placeholder="Carta Abiertas">
      <input type="text" name="ext_dominio" placeholder="Ext. de Dominio">
      <input type="text" name="tipo_servicio" placeholder="Tipo de Servicio">
      <input type="number" name="pasajeros" placeholder="Pasajeros">
      <input type="text" name="robado" placeholder="Robado">
      <input type="text" name="antiguo" placeholder="Antiguo">
      <input type="text" name="tipo_vehiculo" placeholder="Tipo de Vehiculo">
    </form>
  
    <button>Enviar</button>
  
  </div>
</div>