<div class="Header">
  <!-- &nbsp; ES USADO PARA INDENTAR LA PARTE DE "BOYACÁ" -->
  <p>Impuestos <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Boyacá</p>
  <button>Inicio Sesión</button>
</div>
<hr/>

<nav class="NavBar">
  <button>Guardar</button>
  <button>Consultar</button>
  <button>Actualizar</button>
  <button>Inactivar</button>
</nav>

<div class="Container">
  <h2>Datos de Propietario</h2>
  <form class="OwnerDataContainer">
    <input type="text" placeholder="Primer Nombre">
    <input type="text" placeholder="Segundo Nombre">
    <input type="text" placeholder="Primer Apellido">
    <input type="text" placeholder="Segundo Apellido">
    <input type="text" placeholder="Tipo de Documento">
    <input type="text" placeholder="Numero de Documento">
    <input type="text" placeholder="Correo Electronico">
    <input type="text" placeholder="Numero Telefonico">
    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
    <input type="date" name="fecha_nacimiento">
  </form>

  <h2>Datos de Vehículo</h2>
  <form class="VehicleDataContainer">
    <input type="text" placeholder="Clase">
    <input type="text" placeholder="Modelo">
    <input type="text" placeholder="Importado">
    <input type="text" placeholder="Decomisado">
    <input type="text" placeholder="Marca">
    <input type="text" placeholder="Carroceria">
    <input type="text" placeholder="Blindado">
    <input type="text" placeholder="Chatarrizado">
    <input type="text" placeholder="Linea">
    <input type="text" placeholder="Cilindraje">
    <input type="text" placeholder="Caja Automatico">
    <input type="text" placeholder="Estado">
    <input type="text" placeholder="Valor antes de Iva">
    <input type="text" placeholder="Tonelaje">
    <input type="text" placeholder="Carta Abierta">
    <input type="text" placeholder="Ext. de Dominio">
    <input type="text" placeholder="Tipo de Servicio">
    <input type="number" placeholder="Pasajeros">
    <input type="text" placeholder="Robado">
    <input type="text" placeholder="Antiguo">
    <input type="text" placeholder="Tipo de Vehiculo">
  </form>

  <button>Enviar</button>

</div>