/* Estilo de todos los inputs */
input{
    text-align: center;
  }
  
  
  /* Estilo de la cabecera (logo y botón de Inicio Sesión) */
  .Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilo del contenedor de la barra de navegacion y el contenedor principal */
  .Content{
    margin-top: 20px;
  }
  
  /* Estilo de la barra de navegación */
  .NavBar{
    display: flex;
    gap: 3px;
  }
  
  /* Estilo de los botones dentro de la barra de navegacion */
  .NavBar button{
    border-radius: 0 10px 0 0;
  }