/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Krona One', sans-serif;
}
body{
  margin: 20px 120px;
}

/* Estilo de todos los botones */
button{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
}


/* Estilo de todos los botones al pasar el mouse por encima */
button:hover{
  color: white;
  background-color: #019D76;
}